body {
  font-weight: 300;
  font-size: 20px;
  font-family: Avenir, Sans-Serif;
  width: 100vw;
  background-color: rgb(33, 33, 33);
  text-align: center;
}

.header {
  height: 75px;
}

div.card-container {
  width: 100%;
  text-align: center;
}

a.link {
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: #568FCB;
  max-width: 50%;
}

.vertical-align {
  vertical-align: middle;
}

.link-style {
  color: rgb(33, 33, 33);
}

.link-style:hover {
	color: #2C63ae;
}

.footer {
  text-decoration: none;
  display: block;
  padding: 25px;
  color: #568FCB;
  font-size: 20px;
}

.footer:hover {
  color: #2C63ae;
}
